<h1>新規登録</h1>
<%= form_tag("/users/create") do %>
 <p>ユーザー名</p>
 <input name="name" value="<%= @user.name %>">

 <p>email</p>
 <input name="email" value="<%= @user.email %>">

 <p>パスワード</p>
<input type="password" name="password" value="<%= @user.password %>">
 <input type="submit" name="" value="新規登録">
<% end %>
